* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, 'Gill Sans';
    font-size: 1rem;
    background-image: url(cubes-1920x1080.png);
}

form {
    width: 100vw;
    height: 40px;
    background-color: black;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info {
    margin-top: 20px;
    color: white;
    background-color: hsla(60, 100%, 50%, 0.1);
    border: 2px solid yellow;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.city, .country, .temperature, .wind, .weather, .humidity {
    padding: 2px 4px 2px 4px;
}

.city, .country {
    font-size: 4rem;
}

.temperature, .wind, .weather, .humidity {
    font-size: 2.5rem;
}





.loc {
    display: flex;
}